<div class="bg-gray-700 p-3 h-full">
  <div class="p-3 box-border bg-white mx-90 w-120 rounded-xl">
    <div>
      <p class="mb-3 font-bold text-xl text-center">Create Account</p>
    </div>
    <hr class="text-gray-300 mb-2" />

    <form [formGroup]="registerForm" (ngSubmit)="handleSubmit()">
      <div class="p-4">
        <label for="fullname" class="mr-27 font-bold">Full Name: </label>
        <br />
        <input id="fullname"
          type="text"
          formControlName="fullname"
          placeholder="Enter Full Name"
          class="border border-gray-400 mt-2 mb-3 text-black w-full pl-1 h-8.5 rounded-md"
        />
        <div *ngIf="registerForm.get('fullname')?.touched">
          <p *ngIf="registerForm.get('fullname')?.errors?.['required']" class="text-red-500">
            Name is required
          </p>

          <p *ngIf="registerForm.get('fullname')?.errors?.['minlength']" class="text-red-500">
            Minimum 4 characters required
          </p>

          <p *ngIf="registerForm.get('fullname')?.errors?.['maxlength']" class="text-red-500">
            Maximum 15 characters allowed
          </p>
        </div>

        <label for="email" class="mr-33 font-bold">E-mail: </label>
        <br />
        <input id="email"
          type="email"
          formControlName="email"
          placeholder="Enter your Email"
          class="mt-2 mb-3 text-black w-full pl-1 border border-gray-400 h-8.5 rounded-md"
        />
       <div *ngIf="registerForm.get('email')?.touched">
          <p *ngIf="registerForm.get('email')?.errors?.['required']" class="text-red-500">
            E-mail is required
          </p>

          <p *ngIf="registerForm.get('email')?.errors?.['invalidEmail']" class="text-red-500">
            Invalid Email
          </p>

        </div>

        <label for="password" class="mr-27 font-bold">Password: </label>
        <br />
        <input id="password"
          type="password"
          formControlName="password"
          placeholder="Enter your Password"
          class="mt-2 mb-3 text-black w-full pl-1 border border-gray-400 h-8.5 rounded-md"
        />
      <div *ngIf="registerForm.get('password')?.touched">
          <p *ngIf="registerForm.get('password')?.errors?.['required']" class="text-red-500">
            Password is required
          </p>

          <p *ngIf="registerForm.get('password')?.errors?.['minlength']" class="text-red-500">
            Min 8 characters required
          </p>

        </div>


        <label for="confirmPassword" class="mr-27 font-bold">Confirm Password: </label>
        <br />
        <input id="confirmPassword"
          type="password"
          formControlName="confirmPassword"
          placeholder="Confirm password"
          class="mt-2 mb-3 text-black w-full pl-1 border border-gray-400 h-8.5 rounded-md"
        />
        <div
          *ngIf="
            registerForm.get('confirmPassword')?.touched &&
            registerForm.errors?.['passwordMismatch']
          "
          class="text-red-500 mr-20"
        >
          Passwords do not match
        </div>

        <label for="contactNumber" class="mr-25 font-bold">Contact Number: </label>
        <br />
        <input id="contactNumber"
          type="tel"
          formControlName="phoneno"
          placeholder="Contact Number"
          class="mt-2 mb-3 text-gray-600 w-full pl-1 border border-gray-400 h-8.5 rounded-md"
        />
        <!--<div *ngIf="registerForm.get('phoneno')?.touched && registerForm.get('phoneno')?.invalid" class="text-red-500 mr-25">
        Contact is required
    </div> -->
        <div *ngIf="registerForm.get('phoneno')?.touched">
          <p *ngIf="registerForm.get('phoneno')?.errors?.['required']" class="text-red-500">
            Contact is required
          </p>

          <p *ngIf="registerForm.get('phoneno')?.errors?.['pattern']" class="text-red-500">
            Invalid Contact
          </p>
        </div>

        <label for="dob" class="mr-27 font-bold">Date of Birth: </label>
        <br />
        <input id="dob"
          type="date"
          formControlName="dob"
          class="mt-2 mb-3 w-full pl-1 border border-gray-400 h-8.5 rounded-md"
        />
        <div *ngIf="registerForm.get('dob')?.touched">
          <p *ngIf="registerForm.get('dob')?.errors?.['required']" class="text-red-500">
            Date of birth is required
          </p>

          <p *ngIf="registerForm.get('dob')?.errors?.['ageValid']" class="text-red-500">
            Age should be 18+
          </p>
        </div>

        <button 
          class="bg-blue-600 text-white mt-6 font-bold rounded-xl px-25 py-2.5 mr-5 text-center w-full disabled:bg-gray-300 cursor-pointer"
          [disabled]="registerForm.invalid"
        >
          Submit
        </button>
      </div>
      </form>
      </div>
</div>